body{
    font-family:montserrat, sans-serif;
    font-size:14px;font-weight:400;
}


.father{
background-color:#F5F0F0;font-family:montserrat,sans-serif;
height:1500px;width:100%;
}

.header{
width:100%;height:90px;background-color:white;
}

.pics{
    background-image:url(imgport.png);background-size:100% 100%;
    min-height:400px;width:30%;margin-left:32px;border-radius:100px;
}

.down{
    background-color:#100f3a; height:500px;width:30%;
    margin-left:32px;
}

.generalinfo1{
   background-color:#100f3a;height:500px;width:90%;
   margin-left:10px;
}

.rightall{
   float:right;background-color:#F5F0F0;height:900px;
   width:65.2%;margin-right:32px;
}

.rightall1{
   background-color:#F5F0F0;height: 900px;width:85%;
   margin-left:78px;
}

.nametitle{
   background-color:#F5F0F0;height:200px;width:90%;
}

.belowheader{
   background-color:#F5F0F0;height:105px;width:100%;
}

.title{
   background-color:#F5F0F0;height:30px;width:100%;
   font-size:30px;font-weight:500;color:#7a798c;
}

.name{
   background-color:#F5F0F0;height:70px;width:100%;
   font-size:50px;font-weight:800;color:#100f3a;
}

.titledesc{
   background-color:#F5F0F0;height:625px;width:105%;
   margin-top:70px;
}

.description{
    background-color:#F5F0F0;height:40px;width:100%;
    font-size:30px;font-weight:700;color:#100f3a;
}

.descfam{
     background-color:#F5F0F0;height:140px;width:100%;
     margin-top:30px;color: #100f3a;
}

.generalinfo{
    background-color:#100f3a;height:50px;width:100%;
    font-size:20px;font-weight:700;color:white;
    padding-top:70px;
}

.info{
    background-color:#100f3a;height:250px;width:95%;
    
}

.contact{
    background-color:#100f3a;height:30px;width:99%;
    color:white;font-size:20px;font-weight:1000;
    margin-top:30px;
    
}

.logo{
    height:50px;
    width:20%;
    float: left;
    margin-left:30px;
    margin-top:30px;
}

.michaelo{
    color: #100f3a;
    font-weight:800;
    font-size:36px;
}

.dot{
    color: #8583e1;
    border-radius: 100%;
}

.menutop{
    width:100%;
    height:30px;
}

.menu{
    float: right;
    width:75%;
    height:60px;
    background-color:#100f3a
}

ul li {
      display: inline;
      margin-left:30px;
      font-size:20px;
      font-weight: 500;
      color:white;
}

ul li:hover{
    background-color:#8583e1;
}

.col-lg-6{
    min-height:200px;
}

.top{
    width:100%;min-height:40px;
}

.bottom{
    width:100%;min-height:150px;
}

.icon{
    width:20%;min-height:40px;
    float: left; background-image:url(icon.webp);
    background-size:100% 100%;
}

.fast-coding{
    width:75%;min-height:40px;
    float: right;
    font-size:24px;font-weight:700;color: #100f3a;
    padding-left:29px;
}

